## OS FILES ##########################################################
.DS_Store

## IDE FILES #########################################################
.idea

## DEPENDENCIES ######################################################
node_modules

## GENERATED #########################################################
coverage
dist
